<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/resultados.css') }}"
    />
    <script src="https://unpkg.com/heatmap.js"></script>
    <title>Resultados</title>
  </head>
  <body>
    <a href="/sujetos" id="btn-volver">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      Volver
    </a>

    <div class="heatmap">
      <div style="height: 100%; width: 100%">
        <div class="iframe-container">
          <iframe id="prototype" style="display: none"></iframe>
        </div>
        <div class="image-container">
          <img id="img_interes" style="display: none" alt="Imagen de interés" />
        </div>
      </div>
    </div>

    <button
      id="btn-descarga-tasks"
      type="button"
      class="btn btn-outline-primary"
      onclick="descargarTareas()"
    >
      Descargar Tareas
    </button>

    <button
      id="btn-descarga"
      type="button"
      class="btn btn-outline-primary"
      onclick="descargarArchivo()"
    >
      Descargar Puntos
    </button>

    <!-- Pasar datos del template al JavaScript -->
    <script type="text/javascript">
      window.puntosData = {{ puntos|tojson }};
    </script>

    <!-- Script principal de resultados -->
    <script src="{{ url_for('static', filename='js/resultados.js') }}"></script>
  </body>
</html>
